# Ignore virtual environment
venv/
.env/
*.pyc
__pycache__/
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Allow specific model files
!model_pipeline.pkl
!best_gbr_model.pkl

# Ignore other model files if any
# *.pkl
# *.joblib
